<aside [ngClass]="{ 'w-64': !isMinimized, 'w-16': isMinimized }" class="min-h-full text-white flex flex-col 
  bg-gradient-to-br from-[#2a0845] via-[#6441a5] to-[#0f2027] 
  animate-gradient-flow bg-400 px-4 py-6 shadow-lg transition-all duration-300">

    <!-- LOGO or Shrink Button -->
    <div class="flex items-center justify-between px-4 py-4 border-b border-purple-600">
        <a href="/" class="flex items-center gap-3 px-4 py-2" *ngIf="!isMinimized">
            <!-- Logo cercle avec initiale -->
            <div class="w-9 h-9 bg-gradient-to-br from-purple-600 via-indigo-500 to-blue-500 text-white rounded-full flex items-center justify-center font-bold text-lg shadow-lg">
              e
            </div>
          
            <!-- Nom stylisé -->
            <h1 class="text-xl font-bold tracking-wide text-white">
              Talently
            </h1>
          </a>
          

        <!-- Shrink Button -->
        <button (click)="toggleSidebar()" class="text-white text-xl">
            <span *ngIf="!isMinimized">&#8249;</span>
            <span *ngIf="isMinimized">&#8250;</span>
        </button>
    </div>

    <!-- User Info -->
    <div class="px-4 mt-4" *ngIf="!isMinimized">
        <p class="font-semibold">Clyde Miles</p>
        <p class="text-purple-200 text-xs">clydemileselenor.us</p>
    </div>

    <!-- Menu -->
    <nav class="flex-1 px-2 py-4 space-y-2 text-sm font-medium">
        <a routerLink="/candidate/dashboard"
            class="flex items-center px-3 py-2 rounded-lg hover:bg-white hover:text-purple-900 transition"
            [ngClass]="{ 'justify-center': isMinimized, 'gap-3': !isMinimized }">
            <span class="w-6 h-6 flex justify-center items-center">
                <i data-lucide="home" class="w-5 h-5"></i>
            </span>
            <span *ngIf="!isMinimized" class="text-sm font-medium">Dashboard</span>
        </a>

<!-- 
        <a routerLink="/candidate/myapplications"
            class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white hover:text-purple-900 transition"
            [ngClass]="{ 'justify-center': isMinimized, 'gap-3': !isMinimized }">
            <span class="w-6 h-6 flex justify-center items-center">

            <i data-lucide="file-text" class="w-5 h-5"></i>
            </span>
            <span *ngIf="!isMinimized">Mes Candidatures</span>
        </a> -->

        <a routerLink="/candidate/listcvs"
            class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white hover:text-purple-900 transition"
            [ngClass]="{ 'justify-center': isMinimized }">
                        <span class="w-6 h-6 flex justify-center items-center">

            <i data-lucide="clipboard" class="w-5 h-5"></i>
                        </span>
            <span *ngIf="!isMinimized">CV Résumé</span>
        </a>

        <a routerLink="/candidate/jobs"
            class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white hover:text-purple-900 transition"
            [ngClass]="{ 'justify-center': isMinimized }">
            <span class="w-6 h-6 flex justify-center items-center">

            <i data-lucide="briefcase" class="w-5 h-5"></i>
                        </span>
            <span *ngIf="!isMinimized">Offres d'emploi</span>
        </a>

        <!-- <a href="#" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white hover:text-purple-900 transition"
            [ngClass]="{ 'justify-center': isMinimized }">
            <span class="w-6 h-6 flex justify-center items-center">

            <i data-lucide="check-circle" class="w-5 h-5"></i>
                        </span>
            <span *ngIf="!isMinimized">Checklists</span>
        </a> -->

        <a href="#" class="flex items-center gap-3 px-3 py-2 rounded-lg hover:bg-white hover:text-purple-900 transition"
            [ngClass]="{ 'justify-center': isMinimized }">
            <span class="w-6 h-6 flex justify-center items-center">

            <i data-lucide="settings" class="w-5 h-5"></i>
                        </span>
            <span *ngIf="!isMinimized">Paramètres</span>
        </a>
    </nav>
</aside>