<div class="min-h-screen bg-[#fafafa] text-gray-700 py-16 px-6">
  <h2 class="text-3xl font-bold text-center mb-10">Sélectionnez votre CV</h2>

  <div class="max-w-6xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    <div 
      class="relative group  bg-[#7045ff50] rounded-xl shadow-lg hover:shadow-md transition-all duration-500 ease-in-out overflow-hidden group border border-[#afa1fffd]"
        *ngFor="let cv of cvList"
      >
      <!-- <div class="absolute inset-x-0 bottom-0 h-20 bg-gradient-to-t from-[#7045ff80] to-transparent backdrop-blur-sm px-4 py-2 flex justify-between items-center">
 -->
        <div class="relative w-full h-72 overflow-hidden ">
          <img src="assets/templates/classic.png" alt="CV Preview" class="w-full h-full object-start transition duration-500 ease-in-out group-hover:blur-sm">
          <div  (click)="selectCv(cv)"  class="cursor-pointer absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out">
            <button  class=" text-[#4747e6] font-semibold  transition duration-300 ease-in-out">Selectionner cette CV</button>
          </div>
        </div>
        <div class="absolute inset-x-0 bottom-0 bg-gradient-to-t from-[#7045ff3b] to-transparent px-4 py-2 flex justify-between items-center">
          <div class="text-sm">
            <p class="font-semibold">{{cv.cvName}}</p>
            <p class="text-xs text-gray-600">{{cv.updatedAt| timeAgo}}</p>
          </div>
          <div class="flex gap-2 opacity-0 group-hover:opacity-100 ">
            
          
          </div>
        </div>
      </div>
  
  </div>
</div>
